<div class="container-fluid">
	
	<div class="row content-row">
	<div class="col-lg-4 col-lg-offset-2 content-text"><h4>
		Planning a potluck meal can be so stressful... dozens of phone calls, 
		emails, unanswered RSVPs, etc.  And there is always some people who 
		forget what they committed to bring. oh brother! 
		</br>
		</br>Who needs that stress??  There must be a better way.
		</h4>
	</div>
	
	<div class="col-lg-4">
		<img src="{{ url_for('static', filename='fammeal1.jpg') }}" alt="...">
	</div>
	</div>
	
	<div class="row content-row">
	<div class="col-lg-4 col-lg-offset-2 content-text"><h4>
		Let <B>Mealz</B> help you plan your next big event! Family gathering, 
		PotLuck Dinner, etc.  
		
		With <B>Mealz</B>, planning a potluck event becomes so easy.
		</br>All you have to do is:
		</br>1. Create an Event
		</br>2. Specify the items you want guests to contribute
		</br>3. Watch the progress as guests sign up for items
		</br></br>
		Then have an amazing, low stress event.
		</h4>
	</div>
	
	<div class="col-lg-4">
		<img src="{{ url_for('static', filename='fammeal2.jpg') }}" alt="...">
	</div>
	</div>
	
	<div class="row content-row">
	<div class="col-lg-4 col-lg-offset-2 content-text"><h4>
		Plans changed? No problem! Once your event is created, you can always
		come back later and change anything about your event details.
		</br></br>
		Try out <B>Mealz</B> today.
		</br></br>
		You can't beat the price... It's FREE!
		</h4>
	</div>
	
	<div class="col-lg-4">
		<img src="{{ url_for('static', filename='fammeal3.jpg') }}" alt="...">
	</div>
	</div>
	
</div>